@charset "utf-8";
/*======================================
	Project Name: jobslice
	Creator     : Jalal Ahamad
	E-mail		: jalal.robi1@gamil.com
=======================================*/
body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background:#f4f4f4;
	}
/*===========@Global Styles ============*/
*{margin:0; padding:0; outline:none}
img,fieldset{border:0; vertical-align:middle;}
a{text-decoration:none}

/**-------**/
.call-us p{
	width:50%;
	font-size:12px;
	line-height:45px;
	color:#bfbfbf;
	font-family:Arial, Helvetica, sans-serif;
	margin:0;
	float:left;
	text-align:center;
	background:url(../images/interface/bg_callus.gif) no-repeat right center;
	}
.call-us a{
	width:50%;
	font-size:12px;
	line-height:45px;
	color:#bfbfbf;
	font-family:Arial, Helvetica, sans-serif;
	margin:0;
	float:right;
	text-transform:uppercase;
	text-align:center;
	}
.alfa-item a img{
	float:left;
	margin:13px 14px 0;
	}
.search-box{
	margin:5px 0;
	}
.form-control{
	height:40px;
	}
/*--------header-----*/
.header{
	background:#fff;
	border-top:1px solid #eeeeee;
	padding:44px 0 30px;
	-webkit-box-shadow:0 3px 4px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0 3px 4px 0 rgba(0, 0, 0, 0.2);
	box-shadow:0 3px 4px 0 rgba(0, 0, 0, 0.2);
	}
.logo h1{
	margin:0;
	}
/*=============main_menu============*/
.menu-wrapper{
	margin-top:35px;
	}
ul.main_menu{
	margin:0;
	border-bottom:1px solid #f7f7f7;
	}
ul.main_menu li{
	float:left;
	list-style:none;
	}
ul.main_menu li:last-child{
	background:none;
	}
ul.main_menu li a{
	font-size:13px;
	line-height:52px;
	color:#4b4b4b;
	font-family: 'Noto Sans', sans-serif;
	text-transform:uppercase;
	padding:0 16px;
	font-weight:bold;
	display:block;
	}
ul.main_menu li a:hover,ul.main_menu li.current a{
	text-decoration:none;
	color:#f28500;
	background:url(../images/interface/bg_mainmenu.png) no-repeat bottom center;
	}
.navbar{
	margin:0 !important;
	}
.navbar-toggle{
	background:none !important;
	border:1px solid #ff8400 !important;
	}
.navbar-toggle .icon-bar{
	background:#ff8400 !important;
	}
.nav > li > a:hover, .nav > li > a:focus{
	}
.navbar-collapse{
	border:0;
	box-shadow:none;
	}
/*=======welcome=====================*/
.welcome{
	padding-top:14px;
	}
.welcome h3{
	font-size:30px;
	line-height:67px;
	color:#f28500;
	font-family: 'PT Sans', sans-serif;
	font-weight:bold;
	margin:0;
	}
.welcome h3 span{
	color:#2e2e2e;
	}
/*----------*/
.option-box{
	text-align:center;
	padding-bottom:34px;
	}
.option-box img{
	border:10px solid #d9d9d9;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	}
.option-box img:hover{
	border:10px solid #ff8400;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	}
.welcome h4{
	font-size:20px;
	line-height:55px;
	color:#2e2e2e;
	font-family: 'PT Sans', sans-serif;
	font-weight:bold;
	text-align:center;
	margin:0;
	}
.welcome h4:hover{
	color:#ff8400;
	}
.welcome p{
	font-size:13px;
	line-height:21px;
	color:#3d3e3e;
	font-family: 'Noto Sans', sans-serif;
	text-align:center;
	margin:0;
	}
a.read-more{
	width:50%;
	height:52px;
	font-size:15px;
	line-height:52px;
	color:#000;
	font-weight:bold;
	text-transform:uppercase;
	text-align:center;
	background:#d9d9d9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display:block;
	margin:17px auto 0;
	}
a.read-more:hover{
	color:#fff;
	background:#ff8400;
	text-decoration:none;
	}
/*--------recent-application--------*/
.recent-application{
	}
.recent-application h3{
	font-size:18px;
	line-height:42px;
	color:#fff;
	font-family: 'PT Sans', sans-serif;
	font-weight:bold;
	margin:20px 0 0 0;
	text-align:center;
	text-transform:uppercase;
	padding-top:6px;
	background:url(../images/interface/bg_text00.png) no-repeat top center;
	}
.applicant-box{
	background:#fff;
	padding:55px 0 77px 23px; 
	border-bottom:1px solid #dddddd;
	}
.applicant-box img{
	border:10px solid #fff;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	float:left;
	margin-right:20px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	}
.applicant-box h6{
	font-size:17px;
	line-height:21px;
	color:#484848;
	font-family:Arial, Helvetica, sans-serif;
	margin:0;
	padding-top:30px;
	}
.applicant-box p{
	font-size:17px;
	line-height:21px;
	color:#484848;
	font-family:Arial, Helvetica, sans-serif;
	margin:0;
	}
/*-------- my-jobs --------*/
.my-jobs{
	}
.my-jobs h3{
	font-size:18px;
	line-height:42px;
	color:#fff;
	font-family: 'PT Sans', sans-serif;
	font-weight:bold;
	margin:20px 0 0 0;
	text-align:center;
	text-transform:uppercase;
	padding-top:6px;
	background:url(../images/interface/bg_text11.png) no-repeat top center;
	}
.jobs-item{
	background:#fff;
	border-bottom:1px solid #dddddd;
	}
.jobs-box{
	background:#ececec;
	height:42px;
	}
.jobs-box22{
	height:42px;
	}
.job-text{
	width:65%;
	float:left;
	padding-left:20px;
	}
.job-text p{
	font-size:12px;
	line-height:42px;
	color:#7d7d7d;
	font-family:Arial, Helvetica, sans-serif;
	margin:0;
	font-weight:bold;
	}
.job-date{
	float:right;
	width:30%;
	padding:0 10px;
	}
.job-date p{
	font-size:12px;
	line-height:42px;
	color:#7d7d7d;
	font-family:Arial, Helvetica, sans-serif;
	margin:0;
	float:left;
	padding-right:10px;
	font-weight:bold;
	}
.job-date a{
	width:22px;
	font-size:12px;
	line-height:20px;
	color:#7d7d7d;
	font-family:Arial, Helvetica, sans-serif;
	padding-bottom:7px;
	margin:10px 0 0 0;
	float:left;
	font-weight:bold;
	display:block;
	text-align:center;
	}
.job-date a:hover,.job-date a.active22{
	background:url(../images/interface/icon_arrow.png) no-repeat;
	text-decoration:none;
	}
/*--------------------------------*/
.page-mid{
	background:#fff;
	padding:30px 0 50px;
	}
.my-companies{}
.my-companies h3{
	font-size:18px;
	line-height:42px;
	color:#fff;
	font-family: 'PT Sans', sans-serif;
	font-weight:bold;
	margin:20px 0 0 0;
	text-align:center;
	text-transform:uppercase;
	padding-top:6px;
	background:url(../images/interface/bg_text11.png) no-repeat top center;
	}
.my-companies ul{
	margin:0;
	}
.my-companies ul li{
	list-style:none;
	border-bottom:1px dashed #bbb;
	padding:0 15px;
	}
.my-companies ul li a{
	font-size:13px;
	line-height:50px;
	color:#7d7d7d;
	font-family:Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	background:url(../images/interface/icon_61.gif) no-repeat right center;
	display:block;
	}
/*---------------------*/
.recent-activities{}
.recent-activities h3{
	font-size:18px;
	line-height:42px;
	color:#fff;
	font-family: 'PT Sans', sans-serif;
	font-weight:bold;
	margin:20px 0 0 0;
	text-align:center;
	text-transform:uppercase;
	padding-top:6px;
	background:url(../images/interface/bg_text00.png) no-repeat top center;
	}
.activities-box{
	border-bottom:1px dashed #bbb;
	padding:22px 0;
	}
.activities-box img{
	border:3px solid #fff;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	float:left;
	margin:0 20px 30px 0;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	}
.activities-box h6{
	font-size:14px;
	line-height:22px;
	color:#3d3e3e;
	font-family: 'Noto Sans', sans-serif;
	font-weight:bold;
	margin:0;
	}
.activities-box p{
	font-size:13px;
	line-height:20px;
	color:#3d3e3e;
	font-family:Arial, Helvetica, sans-serif;
	margin:0;
	}
.activities-box p span{
	color:#fe6f20;
	}
/*----------------------------------*/
.page-bottom{
	background:#3d4345;
	border-top:10px solid #ced0d0;
	padding:8px 0 18px;
	}
.contact-info h3{
	font-size:13px;
	line-height:56px;
	color:#fff;
	font-family: 'Noto Sans', sans-serif;
	text-transform:uppercase;
	font-weight:bold;
	margin:0;
	}
.contact-info h4{
	font-size:13px;
	line-height:42px;
	color:#fff;
	font-family: 'Noto Sans', sans-serif;
	font-weight:normal;
	padding-left:20px;
	margin:0;
	background:url(../images/interface/icon_41.gif) no-repeat left center;
	}
.contact-info h4 span{
	font-weight:bold;
	}
.contact-info h5{
	font-size:13px;
	line-height:42px;
	color:#fff;
	font-family: 'Noto Sans', sans-serif;
	font-weight:normal;
	padding-left:20px;
	margin:0;
	background:url(../images/interface/icon_42.gif) no-repeat left center;
	}
.contact-info h5 span{
	font-weight:bold;
	}
.contact-info p{
	font-size:13px;
	line-height:42px;
	color:#fff;
	font-family: 'Noto Sans', sans-serif;
	font-weight:bold;
	padding-left:20px;
	margin:0;
	background:url(../images/interface/icon_43.gif) no-repeat left center;
	}
.contact-info p a{
	font-weight:normal;
	color:#fff;
	}
/*-------------*/
.recent-post h3{
	font-size:13px;
	line-height:56px;
	color:#fff;
	font-family: 'Noto Sans', sans-serif;
	text-transform:uppercase;
	font-weight:bold;
	margin:0;
	}
.post-box{
	padding:12px 0 10px;
	background:url(../images/interface/bg_posttext.gif) repeat-x left top;
	}
.post-box p{
	font-size:12px;
	line-height:30px;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	margin:0;
	}
.follow-us h3{
	font-size:13px;
	line-height:56px;
	color:#fff;
	font-family: 'Noto Sans', sans-serif;
	text-transform:uppercase;
	font-weight:bold;
	margin:0;
	}
.follow-us a img{
	float:left;
	margin-right:5px;
	}
/*-------------footer----------------*/
.footer{
	padding:18px 0 13px;
	background:#303436;
	}
.footer-menu ul{
	margin:0;
	}
.footer-menu ul li{
	float:left;
	list-style:none;
	}
.footer-menu ul li a{
	font-size:10px;
	line-height:32px;
	color:#fff;
	font-family: 'Noto Sans', sans-serif;
	padding:0 6px;
	}
/*------*/
.copyright p{
	font-size:10px;
	line-height:32px;
	color:#fff;
	font-family: 'Noto Sans', sans-serif;
	text-align:right;
	margin:0;
	}
/*----------*/
.feedback{
	width:86px;
	height:200px;
	position:fixed;
	left:0;
	top:220px;
	}
.feedback a img{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	}
/*==================media quries===========================*/

/* Large desktop */
@media (min-width: 1200px) {
}
	
/*------desktop--------*/
@media (min-width: 980px) and (max-width: 1199px) {
ul.main_menu li a{
	padding:0 10px;
	font-size:12px;
	}
.job-text{
	width:55%;
	}
.job-date{
	width:45%;
	}
}
	
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
ul.main_menu li a{
	padding:0 5px;
	font-size:10px;
	}
.job-text{
	width:55%;
	}
.job-date{
	width:45%;
	}
.activities-box img{
	margin:0 15px 0 0;
	}	
}
	
/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) {
ul.main_menu li{
	float:none;
	background:none !important;
	}
.applicant-box h6{
	padding-top:15px;
	}
.my-jobs {
	margin-top:10px;
	}
.contact-info h4{
	font-size:11px;
	}
.copyright p{
	text-align:center;
	}
.footer-menu{
	width:30%;
	margin:0 auto;
	}
.alfa-item{
	width:25%;
	margin:0 auto;
	}
ul.main_menu li a{
	text-align:center;
	}
.header{
	padding:20px 0 10px;
	}
.logo h1{
	text-align:center;
	}
.activities-box img{
	margin:0 20px 6px 0;
	}
.follow-us a img{
	margin:0 5px 0 10px;
	}
.job-text{
	width:55%;
	}
.job-date{
	width:45%;
	}
.alfa-item a img{
	margin:13px 6px 0;
	}
.call-us{
	width:50%;
	margin:0 auto;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	
ul.main_menu li{
	float:none;
	background:none !important;
	}
.welcome h3{
	font-size:19px;
	}
.applicant-box h6{
	padding-top:15px;
	}
.my-jobs {
	margin-top:10px;
	}
.contact-info h4{
	font-size:11px;
	}
.copyright p{
	text-align:center;
	}
.footer-menu{
	width:50%;
	margin:0 auto;
	}
.alfa-item{
	width:42%;
	margin:0 auto;
	}
ul.main_menu li a{
	text-align:center;
	}
.header{
	padding:20px 0 10px;
	}
.logo h1{
	text-align:center;
	}
.activities-box img{
	margin:0 20px 6px 0;
	}
.follow-us a img{
	margin:0 5px 0 10px;
	}
.job-text{
	width:50%;
	}
.job-date{
	width:50%;
	}
.alfa-item a img{
	margin:13px 6px 0;
	}
}



